doctype html
html(lang='pt-BR')
  head
    meta(charset='utf-8')
    meta(name='description', content='ProfessorZ é uma plataforma completa de empoderamento de professores por meio de tecnologia. Plano de aula, Assistente de Sala e Avaliador inteligente.')
    meta(name='keywords', content='Educação, plataforma, plano de aula, aulas interativas, gestão pedagógica')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='author', content='ProfessorZ')
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet" type="text/css" href="/css/lib/semantic.min.css")
    link(rel="stylesheet" type="text/css" href="/css/app.css")
    title Aplicativo - ProfessorZ, a plataforma da educação.
  body.app-background
    main#app
    script(type='text/javascript', src='/js/application.js')
    script(type='text/javascript').
      Elm.Main.fullscreen()
